*{
  box-sizing: border-box;
  padding:30px;
}

body{
  background: AliceBlue;
  color: gray;
}

.container{
  background: white;

}

#wrapper{
  background: pink;
}

#time-left{
  background: green;
}

#buttons{
  background: blue;

}

#trivia{
  background: orange;
  color: black;

}

#score{
  background: MistyRose;
  color: black;
}


footer{
  text-align: center;
  background: black;
  color: white;
}
